[Desktop Entry]
Type=Application
Version=0.9.0
Name=dethrace
Comment=Reverse engineering the 1997 game "Carmageddon"
Exec=dethrace
Icon=icon_source
Terminal=false
Categories=Game;Action;Simulator
