name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_release:
  runs-on: ubuntu-latest
  needs: [build-linux]
  steps:
    - name: Obtain tag version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: true
        release_name: ${{ steps.get_version.outputs.version }}
        tag_name: ${{ github.ref }}
        body: "hello world"
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: upload linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/dethrace-linux-${{ steps.get_version.version}}-amd64.tar.gz
          asset_name: dethrace-linux-${{ steps.get_version.version}}-amd64.tar.gz
          asset_content_type: application/octet-stream