name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Obtain tag version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: true
          release_name: ${{ steps.get_version.outputs.version }}
          tag_name: ${{ github.ref }}
          body: "hello world"
        env:
          GITHUB_TOKEN: ${{ github.token }}

  upload-artifacts:
    runs-on: ubuntu-latest
    needs: [create-release, build-linux]
    steps:
      - name: upload linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ${{ github.workspace }}/dethrace-${{ steps.get_version.version}}-linux-amd64.tar.gz
          asset_name: dethrace-${{ steps.get_version.version}}-linux-amd64.tar.gz
          asset_content_type: application/octet-stream